
body{
    background-color: lightcyan;
    font-family: sans-serif;
}

.right{
    float:right;
    line-height: 30px;
    width: 35px;
    margin: 5px;
}

.alarms{
    margin: auto;
    width: 50%;
}

.alarm{
    border: solid 1px lightgrey;
    text-align: center;
    min-height: 45px;
}

.soon{
    color: red;
}

.past{
    color: lightgrey;
}

.center{
    margin:auto;
    width: 25%;
    white-space: nowrap;
}

.fatness{
    margin:auto;
    font-size:48pt;
    width: 500px;
    white-space: nowrap;
}

.footer{
    position: fixed;
    bottom: 5px;
    color: lightgrey;
}

.hide{
    display:none;
}
