body{
    background-color: lightcyan;
    font-family: sans-serif;
}

h1{
    text-align: center;
}

.right{
    float:right;
    line-height: 30px;
    width: 35px;
    margin: 5px;
}

.alarms{
    margin: auto;
    width: 50%;
}

.alarm{
    border: solid 1px lightgrey;
    text-align: center;
    min-height: 45px;
}

.soon{
    color: red;
}

.past{
    color: lightgrey;
}

.center{
    white-space: nowrap;
    text-align: center;
}

.inputWrapper{
    margin-left: calc(50vw - 125px);
    width: 250px;
    display: flex;
}

.fatness{
    font-size:48pt;
    white-space: nowrap;
    text-align: center;
}

.footer{
    position: fixed;
    bottom: 5px;
    color: lightgrey;
}

#addTimer{
    height: 64px;
    margin-left: 10px;
}

.hide{
    display:none;
}
