:root{
	--bg0: #000000;
	--bg1: #003288;
	--bg2: #550000;
	--bg3: #6500FF;
	--c1: #AAAAAA;
	--c2: #555555;
	--c3: #AA0000;
	--c4: #0065FF;
	--c5: #65FF00;
}

body{
	background-color: var(--bg0);
	color: var(--c1);
	font-family: sans-serif;
	text-align:center;
}

button{
	font-size: 14pt;
	background-color: var(--bg1);
	color: var(--c1);
	box-shadow: none;
	border: solid 1px var(--bg1);
	margin: 1px 5px;
	padding: 10px 15px;
	cursor: pointer;
}

a, a:visited{
	color: var(--c1);
}
.root{
	display:flex;
	flex-flow:column;
}

.center{
	width:50%;
	min-width: 600px;
	margin:auto;
}

.menuButtons{
	flex: 0 0;
}

.menuContentWrapper{
	flex: 1 1 auto;
}

.content{
	margin-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px var(--c2);
	width:100%;
	flex:1 1 auto;
}

.activeFlavor{
}

.title{
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: underline;
	margin-bottom: 15px;
}

.componentName{
	padding-bottom: 0;
	margin-bottom:0;
}

.flex{
	display:flex;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	padding: 0 5px;
	line-height:50px;
}

.info{
	width:76%;
	padding-left:12%;
}

.block{
	border: solid 1px var(--c2);
	text-align: center;
	padding: 10px;
}

.bLeft{
	border-left: solid 1px var(--c2);
}

.componentList{
	margin-block: 0;
}

.selected{
	border: solid 1px var(--c1);
	filter: brightness(70%);
}

.mutraction{
	width: 100%;
	position:fixed;
	bottom:0px;
	right:25px;
	text-align:right;
	background-color: var(--bg0);
	line-height: 25px;
}

.circleButton{
	font-size:19px;
	height: 36px;
	width:36px;
	padding:0;
	margin:5px;
	border: solid 1px var(--c1);
	border-radius:50%;
	background-color: var(--bg0);
	line-height:23px;
	
}

.goto{
	border: solid 1px var(--c4);
}

.gains{
	border: solid 1px var(--c5);
}

.add{
	border: solid 1px var(--c5);
}

.del{
	border: solid 1px var(--c3);	
}

.generator{
	display: block;
}

.nowrap{
	white-space:nowrap;
}

.hintZone{
	margin-bottom: 10px;
	min-width: 450px;
	text-align: left;
}

.helpTopic{
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
	padding-top: 20px;
	margin-left:10%;
}
.helpContent{
	text-align:left;
	padding: 10px;
	margin-left:13%;
	margin-right:13%;
}

.settingsRow{
	text-align:left;
	padding-left:25%;
	margin:5px;
}

.clockProgress{
	position:fixed;
	top:0;
	left:0;
	min-height:2px;
	background-color: var(--c2);
}

.clockStatus{
	position:fixed;
	top:50%;
	left:-1px;
	text-align:middle;
	width:100%;
	border: solid 1px var(--c1);
}

.table{
	min-height:500px;
	min-width:175px;
	border-left: solid 1px var(--c1);
}

.tableItem{
	margin:5px;
}

.filterWrapper{
	border-bottom:solid 1px var(--c1);
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.manage{
	max-height: calc(100vh - 275px);
	overflow-y:auto;
	overflow-x:clip;
}

.discover{
	max-height: calc(100vh - 350px);
	overflow-y:auto;
	overflow-x:clip;
}

.disabled{
	text-decoration:line-through;
	background-color: var(--bg2);
	color: var(--c2);
	border-color: var(--c2);
}

.tutorial{
	border:solid 1px var(--c5);
	padding: 10px;
	margin-left:25%;
	width:50%;
}

.hint{
	border:solid 2px #F00;
	animation: hintColor 5s infinite linear;
}
@keyframes hintColor {
	0% {
		border-color: #F00;
		color: #0F7;
		background-color: #000;
		transform: scale(1) translate(-2px, -2px);
	}
	8% {
		border-color: #F70;
		color: #0FF;
		background-color: #000;
		transform: scale(1.2) translate(2px, -2px);
	}
	16% {
		border-color: #FF0;
		color: #07F;
		background-color: #000;
		transform: scale(1) translate(2px, 2px);
	}
	25% {
		border-color: #7F0;
		color: #00F;
		background-color: #777;
		transform: scale(1.2) translate(-2px, 2px);
	}
	33% {
		border-color: #0F0;
		color: #70F;
		background-color: #777;
		transform: scale(1) translate(-2px, -2px);
	}
	41% {
		border-color: #0F7;
		color: #F0F;
		background-color: #777;
		transform: scale(1.2);
	}
	50% {
		border-color: #0FF;
		color: #F07;
		background-color: #000;
		transform: scale(1) translate(2px, 2px);
	}
	58% {
		border-color: #07F;
		color: #F00;
		background-color: #000;
		transform: scale(1.2) translate(2px, -2px);
	}
	66% {
		border-color: #00F;
		color: #F70;
		background-color: #000;
		transform: scale(1) translate(-2px, -2px);
	}
	75% {
		border-color: #70F;
		color: #FF0;
		background-color: #777;
		transform: scale(1.2) translate(-2px, 2px);
	}
	83% {
		border-color: #F0F;
		color: #7F0;
		background-color: #777;
		transform: scale(1) translate(2px, 2px);
	}
	91% {
		border-color: #F07;
		color: #0F0;
		background-color: #777;
		transform: scale(1.2);
	}
	100% {
		border-color: #F00;
		color: #0F7;
		background-color: #000;
		transform: scale(1) translate(-2px, -2px);
	}	
}

.hide{
	display: none;
}

