 :root{
	--bg0: #000000;
	--bg1: #003288;
	--bg2: #550000;
	--bg3: #6500FF;
	--bg4: #00328877;
	--bg5: #222222;
	--bg6: #091233;
	--c0: #FFFFFF;
	--c1: #AAAAAA;
	--c2: #555555;
	--c3: #AA0000;
	--c4: #0065FF;
	--c5: #65FF00;
}

body{
	background-color: var(--bg0);
	color: var(--c1);
	font-family: monospace;
	text-align:center;
	font-size:12pt;
}

button{
	font-size: 14pt;
	background-color: var(--bg1);
	color: var(--c1);
	box-shadow: none;
	border: solid 1px var(--bg1);
	margin: 1px 5px;
	padding: 10px 15px;
	cursor: pointer;
}

.welcome{
	display:block;
	width:100vw;
}

.welcomeTitle{
    position: fixed;
    top: calc(50vh - 200px);
	width: 100vw;
}

.welcomeText{
	position: fixed;
    top: calc(50vh + 100px);
	margin: 0px 10px;
	width: calc(100vw - 20px);
}

.smallButton{
	padding: 0 15px;
}

a, a:visited{
	color: var(--c1);
}

th{
	font-size:16pt;
}

td{
	white-space:nowrap;
}

hr {
	border-color: var(--bg1);
}

::backdrop {
	background-color: var(--bg5);
	opacity: .5;
}

.gameWrapper{
	max-width: 1200px;
	margin: auto;
}

.contextHelpArea{
	background-color: var(--bg6);
	border: solid 2px var(--c4);
	width: calc(50% - 500px);
	min-width: 400px;
	height: calc(100vh - 50px);
	margin-top:25px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 50;
	overflow-y: auto;
}

.contextTopic{
	font-size: 24pt;
	font-weight: bold;

}

.manageModal {
	background-color: var(--bg0);
	color: var(--c1);
}

.manageRow{
	border-bottom: solid 1px var(--bg4);
	background: linear-gradient(0turn, var(--bg4), var(--bg0), var(--bg4));
}

.version{
	position:fixed;
	bottom:2px;
	left: 2px;
	color: var(--c2);
	font-size: 12px;
}

.totalMass{
	position:fixed;
	bottom:2px;
	right:10px;
	font-size: 12px;
	display: inline-flex;
	line-height: 20px;
}

.settingsRow input[type=checkbox] {
    float: left;
    margin-right: 0.4em;
}

.root{
	display:flex;
	flex-flow:column;
}

.foot{
	height:50px;
}

.center{
	min-width: 600px;
	margin:auto;
	max-width: 1000px

}

.menuButtons{
	flex: 0 0;
}

.menuContentWrapper{
	flex: 1 1 auto;
}

.content{
	margin-top: 10px;
	padding-bottom: 10px;
	border-top: solid 1px var(--bg1);
	width:100%;
	flex:1 1 auto;
	min-width:800px;
}

.title{
	font-size: 24px;
	font-weight: bold;
	font-family: sans-serif;
	text-decoration: underline;
	margin-bottom: 15px;
}

.subtitle{
	font-size: 16px;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: 10px;
}

.componentName{
	padding-bottom: 0;
	margin-bottom:0;
}

.flex{
	display:flex;
}

.table{
	display:table;
}

.row{
	display: table-row;
}

.cell{
	display: table-cell;
	padding: 0 5px;
	vertical-align:middle;
}

.headerCell{
	font-weight: bold;
	text-decoration: underline;
}

.info{
	width:76%;
	padding-left:12%;
}

.block{
	border: solid 1px var(--bg1);
	text-align: center;
	padding: 10px;
	min-width:800px;
}

.bLeft{
	border-left: solid 1px var(--bg1);
}

.componentList{
	margin-block: 0;
}

.selected{
	border: solid 1px var(--c1);
	filter: brightness(150%);
}

.menuFocus{
	transform: scale(1.1);
}

.mutraction{
	width: 100%;
	position:fixed;
	bottom:0px;
	right:25px;
	text-align:right;
	background-color: var(--bg0);
	line-height: 25px;
}

.circleButton{
	height: 36px;
	width:36px;
	padding:0;
	margin:5px;
	border: solid 1px var(--c1);
	border-radius:50%;
	background-color: var(--bg1);
}

.goto{
	border: solid 1px var(--c4);
}

.gains{
	border: solid 1px var(--c5);
}

.add{
	border: solid 1px var(--c5);
}

.del{
	border: solid 1px var(--c3);	
}

.transmuter{
	display: block;
}

.chapter{
	line-height: 2;
	width: 600px;
	margin: auto;
	text-align: left;
	padding-left: 10px;
}

.nowrap{
	white-space:nowrap;
}

.hintZone{
	margin-left: 10px;
	min-width: 450px;
}

.helpTopic{
	text-align:left;
	font-weight:bold;
	text-decoration:underline;
	cursor:pointer;
	padding-top: 20px;
	margin-left:10%;
}
.helpContent{
	text-align:left;
	padding: 10px;
	margin-left:13%;
	margin-right:13%;
}
.helpDiv{
	margin:5px;
}

.helpDivAlternate{
	background-color: var(--bg4);
	margin: 2px 0;
	padding: 3px 5px;
}

.helpDivEmpty{
	min-height: 10px;
	background: linear-gradient(0turn, var(--bg4), var(--bg1), var(--bg4));
	width:100%;
	margin: 10px 0;
}


.settingsRow{
	text-align:left;
	padding-left:25%;
	margin:5px;
}

.clockProgress{
	position:fixed;
	top:0;
	left:0;
	min-height:2px;
	background-color: var(--c2);
}

.clockStatus{
	position:fixed;
	top:50%;
	left:-1px;
	text-align:middle;
	width:100%;
	border: solid 1px var(--c1);
}

.clockTime{
	float:left;
}

.mmItem{
	margin:5px;
}

.filterCollapseButton{
}

.filterWrapperDiscover{
	border-bottom:solid 1px var(--bg1);
	font-size:14px;
}

.filterWrapperManage{
	border-bottom:solid 1px var(--bg1);
	font-size:14px;
	display: table;
}

.filterChk{
	display: table-cell;
	padding-left:25px;
	padding-right:25px;
	text-align:right;
}

.manage{
	max-height: calc(100vh - 290px);
	overflow-y:auto;
}

.discover{
	max-height: calc(100vh - 290px);
	overflow-y:auto;
	display:table;
}

.discoverLeft{
	margin-left:10px;
	width: 300px;
}

.discoverRight{
	margin-right:10px;
	width: 300px;
}

.objectScanner{
	width:40%;
	min-height:200px;
	min-width:300px;
	max-height: calc(100vh - 400px);
	overflow-y:auto;
}

.osl{
	border: solid 1px var(--c4);
}

.discoverCol{
	display:table-cell;
	min-width: 300px;
}

.amountWrapper{
	text-align: left;
}

.itemInfo{
	margin:0 25px;
}

.amountUnit{
	margin: 0 5px;
	line-height:20px;
}

.bonusWrapper{
	border-top: 1px solid var(--bg1);
	padding-top:25px;
	margin-top:25px;
}

.flow{
	font-size:22px;
	width:150px;
}

.componentWrapper{
	line-height:20px;
}

.componentAmount{
	display:inline;
}

.discoverContainer{
	max-height: calc(100vh - 400px);
	overflow-y:auto;
	min-width:175px;
}

.disabled{
	text-decoration:line-through;
	background-color: var(--bg2);
	color: var(--c2);
	border-color: var(--c2);
}

.expandHeader{
	cursor:pointer;
	padding:0px 5px;
}

.insufficient{
	background-color:var(--bg2);
}

.help{
	cursor:help;
}

.i{
	border:solid 1px var(--c4);
	border-radius: 50%;
	padding: 2px 6px;
	color:var(--c4);
	font-family: monospace;
	font-weight: normal;
}

.pointer{
	cursor:pointer;
}

.tutorial{
	border:solid 1px var(--c5);
	padding: 10px;
	margin-left:25%;
	width:50%;
}

.toaster{
	position:fixed;
	top:0;
	right:0;
	max-width:450px;
}

.toast{
	margin:10px;
	padding:3px 5px 0px 10px;
	background-color:var(--bg1);
	border:1px solid var(--c1);
	color:var(--c0);
	font-size:10pt;
	cursor:pointer;
}
.toastContent{
	padding-right:25px;
	margin-top:-10px;
}

.wrapperX{
	width:100%;
	text-align:right;
}
.toastX{

}

.contextHelpWrapper{
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	background-color: var(--bg1);
	position: fixed;
	right: 50px;
	top: 35px;
}
.contextHelp{
	transform: rotate(-45deg);
	background:transparent;
	border: 0;
	width: 42px;
	height: 42px;
	text-align: center;
	margin: 0;
}

.hint{
	font-size:26px;
	border:solid 2px #F00;
	position:fixed;
	width:100%;
	left:0;
	bottom:20px;
	background-color:#000;
}
.hintAnimate{
	animation: hintColor 8s infinite linear;
}
@keyframes hintColor {
	0% {
		border-color: #F00;
		color: #0F7;
		background-color: var(--bg0);
		transform: scale(1) translate(-2px, -2px);
	}
	8% {
		border-color: #F70;
		color: #0FF;
		background-color: var(--bg3);
		transform: scale(1.2) translate(2px, -2px);
	}
	16% {
		border-color: #FF0;
		color: #07F;
		background-color: var(--bg0);
		transform: scale(1) translate(2px, 2px);
	}
	25% {
		border-color: #7F0;
		color: #00F;
		background-color: var(--bg4);
		transform: scale(1.2) translate(-2px, 2px);
	}
	33% {
		border-color: #0F0;
		color: #70F;
		background-color: var(--bg0);
		transform: scale(1) translate(-2px, -2px);
	}
	41% {
		border-color: #0F7;
		color: #F0F;
		background-color: var(--bg2);
		transform: scale(1.2);
	}
	50% {
		border-color: #0FF;
		color: #F07;
		background-color: var(--bg0);
		transform: scale(1) translate(2px, 2px);
	}
	58% {
		border-color: #07F;
		color: #F00;
		background-color: var(--bg0);
		transform: scale(1.2) translate(2px, -2px);
	}
	66% {
		border-color: #00F;
		color: #F70;
		background-color: var(--bg4);
		transform: scale(1) translate(-2px, -2px);
	}
	75% {
		border-color: #70F;
		color: #FF0;
		background-color: var(--bg0);
		transform: scale(1.2) translate(-2px, 2px);
	}
	83% {
		border-color: #F0F;
		color: #7F0;
		background-color: var(--bg2);
		transform: scale(1) translate(2px, 2px);
	}
	91% {
		border-color: #F07;
		color: #0F0;
		background-color: var(--bg0);
		transform: scale(1.2);
	}
	100% {
		border-color: #F00;
		color: #0F7;
		background-color: var(--bg0);
		transform: scale(1) translate(-2px, -2px);
	}	
}

.welcomeWrapper-animate {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	margin: auto;
	padding: 0;
}

.beginWrapper{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

.btnWelcome{
	width: 200px;
	height: 120px;
	border: none;
	padding: 0;
	cursor: pointer;
}

.btnWelcome-animate {
	animation: btnWelcomeTransition 3s forwards;
	pointer-events: none;
	margin: auto;
	z-index: 0;
	white-space: nowrap;
	overflow: hidden;
}

@keyframes btnWelcomeTransition {
	0% {
		transform: scale(1);
		background-color: var(--bg1);
		color: var(--c1);
		width: 200px;
		height: 120px;
	}
	20%{
		background-color: #FFFFFF;
		color: #FFFFFF;
		width: 4vmin;
		height: 4vmin;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
	}
	30%{
		transform: scale(0.01);
		border-radius: 50%;
		width: 5vmin;
		height: 5vmin;
		aspect-ratio: 1 / 1;
	}
	70%{
		border-radius: 50%;
		transform: scale(60);
		background-color: rgba(255, 255, 255, 0.1);x
		width: 5vmin;
		height: 5vmin;
		aspect-ratio: 1 / 1;
	}
	100% {
		border-radius: 50%;
		transform: scale(130);
		background-color: rgba(255, 255, 255, 0.01);
		width: 5vmin;
		height: 5vmin;
		aspect-ratio: 1 / 1;
	}
}

.hide{
	display: none;
}

